<div id="about">
  <div class="content">
    <h3>ABOUT ME</h3>
    <p>
      Hi, I’m Omar and I'm a Software Engineer but my passion is the web.
      Since I started in this world I have had the big opportunity to learn
      and work with different kinds of technologies. One of my principal qualities
      is that I'm very focused on my goals and learn new things very fast.
      I usually work with a team and try to help them and give them my knowledge.
    </p>

    <p>
      Through my experience I’ve had the opportunity to work with different
      teams and areas of speciality like frontend and backend, it helps me to
      improve my skills every day and understand how it works.
    </p>
  </div>
</div>
