<div id="about">
  <div class="content">
    <h3>ABOUT ME</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis magna
      fermentum sodales dapibus. Donec congue consequat odio commodo tristique. Nulla
      fringilla posuere quam. Mauris rutrum turpis nec magna aliquet mattis. Suspendisse
      facilisis accumsan ex vitae gravida. Quisque hendrerit fringilla ex, vitae condimentum
      arcu faucibus ut. Morbi dapibus scelerisque mauris, eget sodales erat. Ut tempus tristique
      neque in aliquet.
    </p>

    <p>
      Nulla porta ultricies augue non congue. Integer sollicitudin lorem at nulla tempus, vitae
      dictum nisi volutpat. Nulla faucibus at odio eu commodo. Nulla cursus ex mauris. Maecenas
      pretium neque eget pulvinar consectetur. Donec elementum porttitor velit quis lacinia. Nam
      finibus feugiat ante sit amet elementum.
    </p>
  </div>
</div>
