<div id="works">
  <div class="content">
    <h2>LAST PROJECTS</h2>

    <owl-carousel-o #carouselSlide [options]="customOptions">
      <ng-template carouselSlide *ngFor="let work of works">
        <div class="slide">
          <app-work-card
          [id] = "work.id"
          [preview] = "work.preview"
          [title] = "work.title"
          [team] = "work.tema"
          [tools] = "work.tools"
          [content] = "work.content"
          [likes] = "work.likes"
          [gallery] = "work.gallery"
          ></app-work-card>
        </div>
      </ng-template>
    </owl-carousel-o>
    <a class="btn-navigation btn-back" (click)="carouselSlide.prev()">
      <img src="./assets/images/next.png" alt="prev">
    </a>
    <a class="btn-navigation btn-n" (click)="carouselSlide.next()">
      <img src="./assets/images/next.png" alt="next">
    </a>

  </div>
</div>
