//@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
//@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

#works{
  min-height: 100vh;
  padding: 2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  h2{
    text-align: center;
    color: #016D87;
    font-size: 34px;
    margin-bottom: 2rem;
  }
  .box-works-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    align-items: center;
  }
}

.btn-navigation{
  background: radial-gradient(131.18% 286.74% at 80.9% -11.11%, #016D87 0%, #00F0FF 100%);
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  position: absolute;
  width: fit-content;
  zoom: 1;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
}



