<div id="hero">
  <div class="content">
    <img (click)="openMenu()" class="menu-button" src="./assets/images/menu.svg" alt="Linkedin" width="36" height="36">
    <div class="menu" [ngClass]="menuStatus ? 'open' : 'close'">
      <ul>
        <div class="close-mobile" (click)="openMenu()">X</div>
        <li><a href="#about" (click)="openMenu()">About me</a></li>
        <li><a href="#skills" (click)="openMenu()">Skills</a></li>
        <li><a href="#works" (click)="openMenu()">Projects</a></li>
        <li><a href="#experience" (click)="openMenu()">Experience</a></li>
        <li><a href="#education" (click)="openMenu()">Education</a></li>
        <li><a href="#footer" (click)="openMenu()">Contact</a></li>
      </ul>
    </div>
    <div class="box-hero">
      <div class="txt-hero">
        <h2>I'm</h2>
        <h2 class="txt-chn {{classes2}}">{{role}}</h2>
        <h2 class="txt-chn-2 {{classes}}">{{name}}</h2>
      </div>
      <div class="img-hero">
        <img rel="preload" as="image" src="./assets/images/profile-image.png" alt="Omar Pava">
      </div>
    </div>
  </div>
</div>
