<div id="education">
  <div class="content">
    <h2>EDUCATION</h2>

    <div class="box-experiences">
      <div class="box-slide-experiences box40">
        <owl-carousel-o [options]="customOptions"  #owlEducation>

          <ng-template carouselSlide *ngFor="let grade of education">
            <div class="slide">
              <app-grade
                [grade] = "grade"
              ></app-grade>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
    </div>


  </div>
</div>

