.item-skill{
  width: 150px;
  height: 150px;
  margin: .5rem .5rem;
  background: #EDF4F4;
  border-radius: 11px;
  display: flex;
  align-items: center;

  animation-name: start;
  animation-duration: 2s;

  .box-content{
    width: 100%;
    text-align: center;
    color: #A4BEBE;
    .letter{
      font-weight: 900;
      font-size: 50px;
      line-height: 10px;
      margin-block-start: 30px;
      margin-block-end: 30px;
    }
    .name{
      font-weight: 300;
    }
  }
  .progress-box{
    border: 0.1rem solid #a4bebe;
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    box-sizing: border-box;
    border-radius: 3rem;
    .progress{
      height:.5rem;
      background: #a4bebe;
      border-radius: 3rem;
    }
  }
}

@keyframes start {
  from {
    filter: blur(100px);
  }
  to {
    filter: blur(0px);
  }
}
