<div class="work-card">

  <div class="preview">
    <!-- <div class="likesNumbers">{{likes}}</div> -->
    <div class="like">
      <img *ngIf="like" src="./assets/images/color-hart.svg" alt="" width="22" (click)="makeUnLike()">
      <img *ngIf="!like" src="./assets/images/hart.svg" alt="" width="22" (click)="makeLike()">
    </div>
    <div class="shadow"></div>
    <img class="img-preview" src="{{preview}}" alt="{{title}}">
  </div>

  <div class="content-card">
    <div class="head-content">
      <h4 class="card-title">{{title}}</h4>
      <div class="team">{{team}}</div>
    </div>
    <div class="tools">Tools: {{tools}}</div>
    <div class="contents">
      <p>
        {{content}}
      </p>
    </div>
  </div>
</div>
