<div id="footer">
  <div class="content">
    <h2>CONTACT</h2>
    <p>
      Hi, you may send me an email to contact me, I'll give you a response as soon as posible.
      Also you could visit my Linkedin profile doing click on the icon.
    </p>
    <a target="_blank" href="https://www.linkedin.com/in/omar-andres-pava-perez-45b94715b/">
      <img src="./assets/images/linkedin.svg" alt="Linkedin" width="36" height="36">
    </a>
    <a target="_blank" href="mailto:omarpava3@gmail.com">
      <img src="./assets/images/open-email.svg" alt="Email" width="36" height="36">
    </a>
  </div>
</div>
