#footer{
  background: #313131;
  min-height: 20rem;
  color: #ffffff;
  h2{
    text-align: left;
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 2rem;
  }
  p{
    font-size: 1.3rem;
  }
}
